.headerintro {
    height: 200px;
    background-color: khaki;
}

.title {
    font-family: cursive;
    font-size: 64px;
    text-align: center;
}

.logo {

}

.nav {

}

.nav_list {

}

.nav_item {

}

.nav_link {

}

.intro {

}

.intro_header {

}

.intro_subheader {

}